.home-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.Home-title {
  margin-left: 400px;
  width: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 200px;
}
.more-info {
  font-size: 1.8rem;
  font-weight: bold;
  width: 250px;
}
.more-info-text {
  font-size: 1.2rem;
  width: 500px;
}
.slideshow-container {
  width: 700px;
  height: 700px;
  border-radius: 30% 70% 70% 30% / 46% 35% 65% 54%;
  margin-right: 20px;
}
.custom-slide {
  height: 100%;
  width: 100%;
  border-radius: 30% 70% 70% 30% / 46% 35% 65% 54%;
}
.swiper-slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media all and (max-width: 480px) {
  .more-info {
    font-size: 3rem;
    width: 400px;
  }
  .home-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .custom-slide {
    border-radius: 0px;
    height: 100%;
    width: 100%;
  }
}
