* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  height: 100%;
}

.container {
  width: 100vw;
  height: 100%;
  border-radius: 10px;
  border-style: none;

}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@200&display=swap");
